body {
  font-family: 'Noto Sans', sans-serif;
  color: white;
  background: black;
}

.landing {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  font-weight: 100;
  background: black;
  opacity: 1;
  transition: all 0.3s ease-out;
}
.landing.hide {
  opacity: 0;
  pointer-events: none;
}
.title {
  text-align: center;
}
.subtitle {
  text-align: center;
}
.btn-start {
  text-align: center;
  cursor: pointer;
}

.recorder {
  position: fixed;
  z-index: 2;
  bottom: 3em;
  width: 100vw;
}
.btn-record {
  text-align: center;
  width: 10em;
  margin: 0 auto;
  cursor: pointer;
}
