body {
  font-family: 'Noto Sans', sans-serif;
  color: white;
  background: black;
  text-transform: uppercase;
}
.landing {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  font-weight: 100;
  background: black;
  opacity: 1;
  transition: all 0.3s ease-out;
}
.landing.hide {
  opacity: 0;
  pointer-events: none;
}
.title {
  text-align: center;
}
.version {
  font-size: 0.5em;
  margin-left: 1em;
}
.subtitle {
  text-align: center;
}
.btn-start {
  text-align: center;
  cursor: pointer;
  width: 10em;
  margin: 0 auto;
}

.recorder {
  position: fixed;
  z-index: 2;
  bottom: 2em;
  width: 100vw;
}
.btn-record {
  text-align: center;
  width: 20em;
  margin: 0 auto;
  cursor: pointer;
}
.instruction {
  text-align: center;
  margin-top: 2em;
}
